<div class="login_sec">
	 <div class="container">
		 <ol class="breadcrumb">
		  <li><a href="/">Home</a></li>
		  <li class="active">Login</li>
		 </ol>
		 <h2>Login</h2>
		 <div class="col-md-6 log">			 
				 <p>Welcome, please enter the folling to continue.</p>
				 <p>If you have previously Login with us, <span>click here</span></p>
				 <form>
					 <h5>Username:</h5>	
					 <input type="text" value="">
					 <h5>Password:</h5>
					 <input type="password" value="">					
					 <input type="submit" value="Login">					 
					  <a class="acount-btn" href="/account/">Create an Account</a>
				 </form>
				 <a href="#">Forgot Password ?</a>
					
		 </div>	
				
		 <div class="clearfix"></div>
	 </div>
</div>